@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

div.embrulho {
    background-color: #202124;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

#headerPrincipal{
    background-color: #141720;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
}

.headerLogo{
    color:yellow;
    font-size: 20px;
}

.linksUl{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.link{
    list-style-type: none;
}

.link > a {
    flex-wrap: wrap;
    color: yellow;
    font-size: 28px;
    text-decoration: none;
    position: relative;
}

.link > a:hover {
    transition: ease-in-out;
    color: red;
}

.link > a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: width 1s;
}

.link > a:hover::after {
    width: 100%;
}

.divPrincipalZ{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

}

.sectionPrincipalZ{
    margin-left: 50px;
    justify-content: center;
    color:yellow;
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 30px;
}

.conteudoPrincipalZ > img{
    width: 600px;
    height: 500px;
}

.blocoSectionPrincipalZ > h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.blocoSectionPrincipalZ > h3{
    color:rgb(190, 185, 108);
}

.blocoSectionPrincipalZTexto{
    width: 80%;
    font-size: 20px;
    color:white;

}

.sectionFormacao{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionFormacao > h1{
    width: 100%;
    text-align: center;
    font-size: 43px;
    color: yellow;
    margin-bottom: 30px;
}

.textoFormacao{
    color: rgb(170, 170, 106);
}

.idiomaFormacao{
    color: rgb(170, 170, 106);
}

#tecnologiasSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 150px;
}

#tecnologiasSection > h1{
    color:yellow;
    margin-top: 40px;
}

.tecnologias{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
    gap:20px;
    padding-bottom: 200px;
}

.tecnologia{
    text-align: center;
    width: 300px;
    height: 300px;
    color: azure;
    border: 1px solid rgb(28, 59, 28);
    padding: 5px;

}

#projetosSection > h1{
    text-align: center;
    color:yellow;
}

.tecnologias > .html{
    background-image: url("../images/html5.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

}

.tecnologias > .css{
    background-image: url("../images/css3.png");
    background-position: center;
    background-size: 74%;
    background-repeat: no-repeat;
}

.tecnologias > .javascript{
    background-image: url("../images/javascript.png");
    background-position: center;
    background-size: 170%;
    background-repeat: no-repeat;
}

.tecnologias > .java{
    background-image: url("../images/java.png");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.tecnologias > .python{
    background-image: url("../images/python.png");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

@media screen and (min-width:1600px){
    .blocoSectionPrincipalZ > h2{
        font-size: 40px;
        margin-bottom: 15px;
    }

    .blocoSectionPrincipalZ > h3{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .tecnologias{
        margin-top: 60px;
    }
}

.projetos{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

#projetoTitulo{
    margin-bottom: 50px;
}

.projetos > .projeto{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-bottom: 35px;

}

.projeto > a{
    color:blue;
    font-size: 24px;
    padding-bottom: 20px;
}

.projeto > a:hover{
    color:red;
}

.proj1{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-image: url("../images/projetoGerador.png");
    background-size: 85%;
    background-position: 50% 50%;
}

.proj2{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-image: url("../images/timerSimples.png");
    background-size: 133%;
    background-position: 50% 50%;
}

#contatoSection{
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin-top: 400px;
    padding-bottom: 40px;
    justify-content: space-around;
    align-items: center;
}

.imagemContatoSection{
    width: 500px;
    height: 300px;
}

#contatoSection > h1{
    width: 100%;
    text-align: center;
    color: Yellow;
}

.cont{
    display: flex;
    align-items: center;
}

.cont > div >  p:nth-of-type(1){
    color:yellow;
    font-size: 24px;
    margin-bottom: 3px;
}

.cont > div >  p:nth-of-type(2){
    color:rgb(92, 92, 53);
    font-size: 21px;
    margin-bottom: 3px;
}

.cont > div > a{
    color:rgb(255, 120, 10);
}

.cont > p:nth-of-type(2){
    margin-bottom: 30px;
}

.cont3{
    display: none;
    width: 100%;
    height: 100%;
    color: rgb(114, 114, 41);
    font-size: 24px;
}

.tituloForm{
    font-size: 30px;
    color: yellow;
    text-align: center;
}

.blockForm{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.blockForm input{
    width: 80%;
    height: 30px;
    font-size: 18px;
}

.blockFormTres > textarea{
    resize: none;
    width: 390px;
    height: 100px;
    font-size: 23px;
}

.blockFormQuatro{
    display: flex;
    align-items: center;
}

.blockFormQuatro > button{
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

.blockFormQuatro > button:hover{
    cursor: pointer;
}

.adicionaDisplay{
    display: flex;
}

@media screen and (max-width: 966px){

    #headerPrincipal{
        margin-bottom: 50px;
        position: static;
        background-color: transparent;
    }


    .sectionFormacao{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 350px;
    }

    .divPrincipalZ{
        flex-direction: column;
    }

    .sectionPrincipalZ{
        width: auto;
        margin-bottom: 110px;
        margin-top: 30px;
        flex-wrap: wrap;

    }

    .conteudoPrincipalZ > img{
        width: 100%;
        flex-wrap: wrap;
    }

    .blocoSectionPrincipalZ > h2,h3{
        text-align: center;
    }

    #tecnologiasSection > h1{
        margin-top: 250px;
        margin-bottom: 40px;
    }

    .blocoSectionPrincipalZ{
        font-size: 20px;
    }

    .blocoSectionPrincipalZTexto{
        padding-bottom: 40px;
        padding: 20px;
        width: 95%;
        text-align: justify;
    }

    .conteudoPrincipalZ > img{
        width: 100%;
    }

    .ordem1{
        order: 2;
    }

    .ordem2{
        order:1;
    }

    .sectionFormacao{
        align-content: baseline;
        gap: 30px;
    }

    .imagemContatoSection{
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 570px){

    .sectionFormacao{
        justify-content: left;
        margin-left: 30px;
        gap: 30px;
    }
}

@media screen and (max-width: 515px){

    .sectionFormacao{
        align-content: baseline;
        gap: 30px;
    }

    #headerPrincipal{
        flex-direction: column;
    }

    .link > a{
        font-size: 25px;
    }

    .linksUl{
        display: flex;
        flex-direction: column;
    }

    .headerLinks{
        margin-top: 30px;
    }

    #tecnologiasSection{
        margin-top: 90px;
    }
}